<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">Area</Data></Cell>
        <Cell><Data ss:Type="String">Postcode</Data></Cell>
        <Cell><Data ss:Type="String">Date registered</Data></Cell>        
      </Row>
    <% @pre_registrations.each do |pr| %>
      <Row>
        <Cell><Data ss:Type="String"><%= pr.name%></Data></Cell>
        <Cell><Data ss:Type="String"><%= pr.email%></Data></Cell>
        <Cell><Data ss:Type="String"><%= pr.area%></Data></Cell>
        <Cell><Data ss:Type="String"><%= pr.postcode%></Data></Cell>
        <Cell><Data ss:Type="String"><%= pr.created_at.strftime("%d/%m/%Y")%></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>