.container
  .row
    .span12
      %h1 Stats
      %h2 Overall stats
      .container
        .row.mb-3
          .span2.offer-count-1
            %p
              %span.huge-offer-count=Offer.count
              %br
              offers made in total
          .span2.offer-count-2
            %p
              %span.huge-offer-count=Offer.where(:accepted => 1).count
              %br
              accepted offers
      .mb-3
        %h2 Stats for each neighbourhood
        %ul.unstyled
          -@neighbourhoods.each do |neighbourhood|
            %li=link_to neighbourhood.name, stats_neighbourhood_path(neighbourhood)
        =render 'table'
      .mb-3
        %h2 General Offers
        .deletion-buttons
          =link_to 'Destroy selected general offers', '#', :class => 'btn btn-destroy-general-offers btn-danger pull-right ml-1'
          =link_to 'Delete selected general offers', '#', :class => 'btn btn-delete-general-offers btn-warning pull-right'
        -if @general_offers.present?
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th ID
                %th=sortable "Person Who Offered"
                %th=sortable "Date/Time"
                %th Description
                %th=sortable "Category"
                %th Details
            %tbody
              -@general_offers.each do |offer|
                %tr
                  %td=link_to offer.id, general_offer_path(offer.id)
                  %td=link_to offer.user.full_name, user_path(offer.user)
                  %td.date-time=offer.created_at.strftime("%d %b %y %H:%M")
                  %td=read_more_truncate(offer.description, :length => 50)
                  %td=offer.category
                  %td=link_to "View details", "#general-offer#{offer.id}", :'data-toggle'=>"modal"
                  %td=check_box_tag "general_offer-select#{offer.id}", 'selected', false, {:"data-id" => offer.id}
                .modal.hide.fade{:id => "general-offer#{offer.id}"}
                  =render('details_modal', :resource => offer)
        -else
          %p No general offers.
        %h2 Removed General Offers
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th ID
                %th=sortable "Person Who Offered"
                %th=sortable "Removed At"
                %th Description
                %th=sortable "Category"
                %th Details
            %tbody
              -@removed_general_offers.each do |offer|
                %tr
                  %td=link_to offer.id, general_offer_path(offer.id)
                  %td=link_to offer.user.full_name, user_path(offer.user)
                  %td.date-time=offer.removed_at.strftime("%d %b %y %H:%M")
                  %td=read_more_truncate(offer.description, :length => 50)
                  %td=offer.category
                  %td=link_to "View details", "#removed-general-offer#{offer.id}", :'data-toggle'=>"modal"
                  %td=check_box_tag "general_offer-select#{offer.id}", 'selected', false, {:"data-id" => offer.id}
                .modal.hide.fade{:id => "removed-general-offer#{offer.id}"}
                  =render('details_modal', :resource => offer)
        -else
          %p No removed general offers.
        .deletion-buttons
          =link_to 'Destroy selected general offers', '#', :class => 'btn btn-destroy-general-offers btn-danger pull-right ml-1'
          =link_to 'Delete selected general offers', '#', :class => 'btn btn-delete-general-offers btn-warning pull-right'