=google_maps_javascript_include_tag if current_user
-content_for :head do
  :javascript
    user_lat = #{current_user ? "#{current_user.lat}" : "DEFAULT_LOCATION[0]"}
    user_lng = #{current_user ? "#{current_user.lng}" : "DEFAULT_LOCATION[1]"}
    $(document).ready(function() {
      NeedSelect.init();
      NeedsMap.needs = #{@needs_json};
      #{'NeedsMap.init();' if current_user}
      Needs.init();
    });

-title "My Neighbourhood"

-if current_user
  =render "validated_map"
-else
  .container
  #home-intro-2
    .container
      .row
        .span12.home-intro-inner
          .home-intro-text
            %h2.home-welcome.home-intro-text
              -if current_user
                ="Hi #{current_user}, welcome to Neighbours Can Help"
              -else
                Welcome to Neighbours Can Help
            %h3.home-where.home-intro-text=snippet_text(:mission_statement, "..where neighbours are helping each other")
          =link_to_slug('Find out more', :about, :class=>"illustration-link")  
          =link_to_slug('Find out more', :about, :class=>"home-cta home-cta-about")
          =link_to "Get involved", "#sign-up-popup", :class=>"home-cta home-cta-get-involved", :"data-toggle"=>"modal"

.container
  .home-help-links
    =link_to "Please help us improve our services to the community by answering these 6 simple questions", "http://www.surveymonkey.com/s/VGLT22G", :target => "_blank", :class=>"home-help-link", :target => :blank

.container
  .row#needs-cycle
    .span6
 
      %h2
        Neighbours who've been helped
      .help-list-wrapper
        %ul.help-list.unstyled#resolved
          -@helped.each do |need|
            %li.list
              .list-image
                =link_to need, :rel => 'tooltip', :title => (need.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
                  =image_for_with_validation(need.user, "60x50#")
                  %p.small-text
                    =need.user
              .list-text
                %h3
                  =link_to need.title, need
                %p
                  -if current_user.try(:validated?)
                    =need.description
                  -else
                    =need.category.description
      
     
      -if current_user
        =link_to "I'd like some help", new_need_path, :class=>"btn call-to-action primary"
      -else              
        =link_to "I'd like some help", '#sign-up-popup', :class=>"btn call-to-action primary", :"data-toggle"=>"modal"

    .span6
      %h2 Neighbours who need help
      .help-list-wrapper
        %ul.help-list.unstyled#unresolved
          -@need_help.each do |need|
            %li.list
              .list-image
                =link_to need, :rel => 'tooltip', :title => (need.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
                  =image_for_with_validation(need.user, "60x50#")
                  %p.small-text
                    =need.user
              .list-text
                %h3
                  =link_to need.title, need
                %p
                  -if current_user.try(:validated?)
                    =need.description
                  -else
                    =need.category.description
                    
      -if current_user
        =link_to "I'd like to offer some help", needs_path, :class=>"btn call-to-action"
      -else              
        =link_to "I'd like to offer some help", '#sign-up-popup', :class=>"btn call-to-action", :"data-toggle"=>"modal"
      