-content_for :head do
  =google_maps_javascript_include_tag
  :javascript
    $(document).ready(function() {
      NeedSelect.init();
      NeedsMap.center = #{"[#{@neighbourhood.lat}, #{@neighbourhood.lng}]"};
      NeedsMap.needs = #{@needs_json};
      NeedsMap.users = #{@users_json};
      NeedsMap.general_offers = #{@general_offers_json};
      #{'NeedsMap.init();' if current_user}
      Needs.init();
    });

-title @neighbourhood

.container
#header-intro-placeholder
.container
  .row
    .preregister-header.mt-2.mb-2.span12
      %h2.your-location-title
        %i.icon-map-marker
        =@neighbourhood
    .row
      =render "validated_map"
  .row
    .preregister-share.span8.mb-2
      .well
        =render("share_buttons")
    .preregister-feedback.span12
      %h3
        Give us feedback
      %p
        =link_to "Tell us what we can do for you", "/feedback", :class=>"feedback-link"
