!!!
%html
  %body
    %p
      Dear Neighbours Admin,
    %p
      The top level stats stand as follows:
    %p
      ="#{Offer.count} offers made in total"
    %p
      ="#{Offer.where(:accepted => 1).count} accepted offers"
    %p
      ="#{Need.count} needs requested in total"
    %p
      ="#{Need.resolved.count} resolved needs"
    %p
      ="#{GeneralOffer.count} general offers made in total"
    %p
      ="#{GeneralOffer.joins(:offers).count} accepted general offers"
    %p
      ="The #{Settings.site_name} team"
      %br
      =Settings.site_url