-if @need.has_accepted_offer?
  .row
    .span12
      -if logged_in_as?(@need.user)
        .alert.alert-success
          You have accepted
          %strong="#{@need.accepted_offer.user}'s offer"
          to help.
      -elsif logged_in_as?(@need.accepted_offer.user)
        .alert.alert-success
          ="#{@need.user} has accepted your offer to help!"
      -else
        .alert
          ="#{@need.user} has accepted someone else's offer."
.row
  .span2
    =link_to @need.user, :rel => 'tooltip', :title => (@need.user.street_name if current_user.try(:validated?)), :class => "user-thumbnail-large pull-left" do
      =image_for(@need.user, "120x120#")
      %p=@need.user
  .span8
    .request-body.mb2
      %h1=title @need.title
      -if current_user.validated?
        =simple_format(@need.description)
      -else
        =simple_format(@need.category.description)
  -if @need.user == current_user
    .span2=link_to "Ask again", new_need_path(:like => @need.id ), :class => "btn"
      
#request-activity.row
  -if logged_in_as?(@need.user) && @offers.empty?
    .span9.offset2
      .alert.alert-info
        Sorry, no one has offered to help you with this yet. In the meantime why don't you
        =link_to("click here", need_path)
        to see who you could help?               
      =link_to "Find someone who needs your help", needs_path, :class=>"btn call-to-action"
  -else
    .span8
      -if @need.user != current_user
        .well
          %b
            %i.icon-exclamation-sign
            ="#{@need.user} needs your help"
          -if @need.offers.exists?(:user_id => current_user.id)
            %p.mb3
              ="You can continue your discussion with #{@need.user} by writing a comment below ."
          -else
            %p.mb3
              If you think you can help, then click on this button to start a private discussion with
              ="#{@need.user}."
            -if current_user.validated?
              =link_to "Maybe I can help", "#offer-form", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
            -else
              =link_to "Maybe I can help", "#not-validated", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
              
      %ul.unstyled.need-posts
        -posts = logged_in_as?(@need.user) ? @need.posts.order("created_at DESC") : @need.posts.where(["posts.user_id = ?", current_user.id])
        =render(:partial => "needs/post", :collection => posts)
    .span4
      -if @offers.present?
        %h3.mb1 People offering help
        %ul.thumbnails
          -@offers.each do |offer|
            %li.span1
              .list-image.thumbnail
                =link_to offer.user, :rel => 'tooltip', :title => (offer.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
                  =image_for(offer.user, "60x60#")
                  %p.small-text
                    =offer.user
.row
  .span12
    =options_panel do
      =link_if_can("Delete this request", @request, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger")
      =link_to("#inappropriate", :data => {:toggle => "modal"}) do
        %i.icon-warning-sign
        Report this entry as inappropriate

-if @need.user != current_user
  #offer-form.modal.hide.fade
    -if @need.offers.exists?(:user_id => current_user.id)
      =render("needs/modal_post_form", :need => @need)
    -else
      =render('offers/modal_form')
-unless logged_in_as?(@need.user)
  #inappropriate.modal.hide.fade
    =render("flags/modal_form", :flag => @need.flags.build)
    
=render "modals/not_validated"
