-if @need.removed?
  .row
    .span12
      .alert.alert-error
        This request has been removed from the site and is only visible to admins.
-if @need.has_accepted_offer?
  .row
    .span12
      -if logged_in_as?(@need.user)
        .alert.alert-success
          You have accepted
          %strong="#{@need.accepted_offer.user}'s offer"
          to help.
      -elsif logged_in_as?(@need.accepted_offer.user)
        .alert.alert-success
          ="#{@need.user} has accepted your offer to help!"
      -else
        .alert
          ="#{@need.user} has accepted someone else's offer."
.row.mt-2
  .span2
    =link_to (can?(:read,@need.user) ? @need.user : '#'), :class => "user-thumbnail-large pull-left" do
      =image_for_with_validation(@need.user, "120x120#", :rel => 'tooltip', :title =>"Joined on #{@need.user.created_at.strftime("%e %B %Y")}")
      -if @need.user.validated?
        .validated-icon{ :rel => 'tooltip', :title =>"Address validated"}
      
      %p=@need.user
  .span8
    .request-body.mb2
      %h1#need-title
        %small I need help with
        %span=title @need.title
        %p.location-smallprint
          %i.icon-map-marker
          -if current_user.try(:validated?)
            ="#{@need.user.street_name}, #{@need.created_at.strftime("%e %B %Y")}"
          -else
            ="#{@need.created_at.strftime("%e %B %Y")}"  
            
      -if current_user && current_user.validated?
        =simple_format(@need.description.capitalize)
      -else
        =@need.category.description
      -if current_user  
        .need_to_know_by
          I would like to know 
          =show_deadline(@need)
  -if @need.user == current_user
    .span2=link_to "Ask again", new_need_path(:like => @need.id ), :class => "btn"
      
#request-activity.row
  -if logged_in_as?(@need.user) && @offers.empty?
    .span9.offset2
      .alert.alert-info
        -if current_user.try(:validated?)
          Sorry, no one has offered to help you with this yet. In the meantime why don't you click below to see who you could help?
        -else
          Your request for help will be published immediately.
      =link_to "Find someone who needs your help", needs_path, :class=>"btn call-to-action" if current_user.try(:validated?)
  -else
    .span8
      -if @need.user != current_user
        -if !@need.user.validated?
          .alert
            %b
              %i.icon-exclamation-sign
              =" #{@need.user} is a new user"
              %p
                They will not be able to respond to your offer of help until we have validated their account.
        .span
          -if current_user && @need.offers.exists?(:user_id => current_user.id)
            %p.mb3
              ="You can continue your discussion with #{@need.user} by writing a comment below ."
          -else
            %p.mb3
              -if current_user
                .row
                  If you think you can help, then click on this button to start a private discussion with
                  ="#{@need.user}."
                .row.mt-2                
                  -if current_user.try(:validated?)
                    =link_to "Maybe I can help", "#offer-form", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
                  -elsif current_user
                    =link_to "Maybe I can help", "#not-validated", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
                  -else
                    =link_to "Maybe I can help", "#register-popup", :'data-toggle' => "modal",  :class => "btn btn-primary mb-2"
              -else
                .row
                  =neighbourhood_snippet_text(:need_cannot_use, "Here is some text explaining why this page be cannot be used. This will be edited by John.")
                .row
                  =link_to "Get involved", "#pre-register", :id=>"cta-3", :class=>"cta-intro cta-small", :"data-toggle"=>"modal"
              
      %ul.unstyled.need-posts
        =render(:partial => "needs/post", :collection => @need.posts_viewable_by(current_user).order("created_at DESC"))
    .span4
      -if @offers.present?
        %h3.mb1 People offering help
        %ul.thumbnails
          -@offers.each do |offer|
            %li.span1
              .list-image.thumbnail
                =link_to (can?(:read,offer.user) ? offer.user : '#'), :rel => 'tooltip', :title => (offer.user.street_name if current_user.try(:validated?)), :class => "pull-left" do
                  =image_for_with_validation(offer.user, "60x60#")
                  %p.small-text
                    =offer.user
.row
  .span12
    =options_panel do
      -unless @need.removed?
        =link_if_can("Remove this request", @need, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger")
      -if current_user
        =link_to("#inappropriate", :data => {:toggle => "modal"}) do
          %i.icon-warning-sign
          Report this page as inappropriate

-if @need.user != current_user
  #offer-form.modal.hide.fade
    -if current_user && @need.offers.exists?(:user_id => current_user.id)
      =render("needs/modal_post_form", :need => @need)
    -else
      =render('offers/modal_form')
-if current_user
  #inappropriate.modal.hide.fade
    =render("flags/modal_form", :flag => @need.flags.build)
    
=render "modals/not_validated"
