.row.mb-2
  .span7
    %h1.page-title.mb-3.mt-0
      =@group.name
    =simple_format(@group.description)
    -if !@group.has_member?(current_user)
      -if @group_invitation && @group_invitation.user.nil?
        =link_to("Join this group", new_group_invitation_group_registration_path(@group_invitation), :class => 'btn btn-large btn-primary mt-2')
      -elsif current_user
        =link_to("Join this group", join_group_path(@group), :class => 'btn btn-large btn-primary mt-2')
      -else
        =link_to("Join this group", '#group-log-in-or-join', :'data-toggle' => 'modal', :class => 'btn btn-large btn-primary mt-2')
        =render 'modals/group_log_in_or_join', :return_to => join_group_path(@group), :group_join_path => new_group_registration_path(:return_to => join_group_path(@group))

    .group-share.mt-3.mb-3
      %br
      =link_to "https://twitter.com/intent/tweet?url=#{url_encode(group_url(@group))}&text=#{url_encode("#{@group} - #{snippet_text(:twitter_share_group_text, "Spread the word and join this new group:")}")}", :class=>"share-btn twitter-share-btn btn mr-2", :target=>"_new" do
        %i.icon-twitter
        Share on Twitter

      =link_to "https://www.facebook.com/dialog/feed?app_id=#{Settings.facebook_app_id}&description=#{url_encode("#{snippet_text(:facebook_share_group_text,"Spread the word and join this new group:")}")}&link=#{url_encode(request.url)}&name=#{url_encode("#{snippet_text(:facebook_share_group_title,"Spread the word and join this new group:")}")}&redirect_uri=#{url_encode(request.url)}", :class=>"share-btn facebook-share-btn btn", :target=>"_new" do
        %i.icon-facebook
        Share on Facebook

  .span5
    =image_for(@group, '370x250#')
    -unless current_user.try(:admin?) || @group.has_member?(current_user)
      -if @group.members.count > 0
        %h3.mt-2.pull-left="This group has #{pluralize(@group.members.count, 'member')}"
        .clearfix
        %ul.thumbnails.mt-1
          -@group.members.random(5).each do |user|
            %li.span1
              .list-image.thumbnail
                =link_to(can?(:read, user) ? user : '#', :class => "pull-left") do
                  =image_for_with_validation(user, "60x60#")
                  %p.small-text=user
-if current_user.try(:admin?) || @group.has_member?(current_user)
  .row
    .span12
      %ul.nav.nav-tabs.group-nav-tabs.mb-3
        %li{:class => "#{'active' if action_name.show?}"}
          =link_to(@group) do
            %i.icon-comment
            Posts
        %li{:class => "#{'active' if action_name.members?}"}
          =link_to(members_group_path(@group)) do
            %i.icon-group
            ="Members (#{@group.members.count})"
        %li{:class => "#{'active' if controller_name.photos?}"}
          =link_to(group_photos_path(@group)) do
            %i.icon-camera
            Photos
            =" (#{@group.photos.count})" if @group.photos.count > 0
