.row
  .span3
    .row
      .span3
        .user-thumbnail-large
          =image_for_with_validation(@user, "220x", :class => 'mb-1')
          -if @user.validated?
            .validated-icon{ :rel => 'tooltip', :title =>"Address validated"}
        -if can?(:edit, @user)
          =link_to(@user.image ? "Edit" : "+ Upload your own picture", edit_user_path(@user, :anchor => "who_you_are"))
        -if Message.valid_recipients_for_user(current_user).include?(@user)
          =link_to(new_user_message_path(@user), :class => "btn mt-1")  do
            %i.icon-envelope
            &nbsp; Send message
  .span9
    -if current_user == @user && !@user.fully_registered? && @user.neighbourhood
      .alert
        You're not fully registered. You can access more features if you
        =link_to("complete your registration", new_registration_path)
    %h1.mb-1=title(@user)
    %p.mb-1.deleted-user="This user has been deleted" if @user.is_deleted?
    %h3.block.mb-2
      -if @user.is_community_champion?
        ="#{first_name_or_you(@user, 'is', 'are').capitalize} a neighbourhood champion"
      -elsif @user.community_champion
        ="#{first_name_or_your(@user).capitalize} neighbourhood champion is #{link_to(@user.community_champion.to_s, user_champion_path(@user))}".html_safe
      -else
        -if @user.champion_request_at && current_user.admin?
          ="#{first_name_or_your(@user).capitalize} request to become a neighbourhood champion is being considered"
        -else
          ="There isn't a neighbourhood champion for #{first_name_or_your(@user)} area - #{link_to 'ask to become one', request_to_be_champion_user_path, :method => :put}".html_safe

    -if current_user == @user
      %h3.block.profile-title
        These details are public
    .profile-details.mb-2
      .mb-1
        -if current_user == @user
          %h4 Bio
        -if @user.bio.present?
          =simple_format(@user.bio)
        -elsif current_user == @user
          %span.italic Nothing entered yet.
        .action-link
          =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
      -if @user.skills.present? || current_user == @user
        %h4 Skills
        -if @user.skills.present?
          .skill-list
            -@user.skills.each do |skill|
              %span.label=skill.to_tag.to_s.humanize
        -elsif current_user == @user
          %span.italic Nothing entered yet.
        .action-link
          =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)

    -if current_user == @user
      %h3.block.profile-title.profile-title-private
        These details are private
        %br
        %small The details below will not be shared with other users.
    -if current_user == @user
      .profile-details.profile-details-private
        .mb1
          %h4 Date of birth
          =@user.dob.nil? ? 'Not set yet.' : @user.dob.to_s(:date)
          .action-link
            =link_to("Edit", edit_user_path(@user, :anchor => "who_you_are")) if can?(:edit, @user)
        .mb-1
          %h4 Email
          =@user.email
        .mb-1
          %h4 Address
          =@user.address
          .action-link
            =link_to("Edit", edit_user_path(@user, :anchor => "where_you_live")) if can?(:edit, @user)
        .mb-1
          %h4 Phone number
          -if @user.phone.present?
            =@user.phone
          -else
            %span.italic Nothing entered yet.
          .action-link
            =link_to("Edit", edit_user_path(@user, :anchor => "where_you_live")) if can?(:edit, @user)
        .mb-1
          %h4 Notifications
          %p
            You
            =@user.no_notifications? ? "won't" : 'will'
            receive emails related to your requests, offers and groups.
          %p
            =switch_text(@user).html_safe.sub('You can change these settings using the button.', '')
          .action-link
            =link_to("Edit settings", edit_user_path(@user, :anchor => "notifications")) if can?(:edit, @user)

    -if @user.groups.present?
      %h4.mt-2.mb-1 Groups
      -@user.groups.each do |group|
        =link_to(group, :class => "profile span3 group-tile") do
          .inner.clearfix
            .group-tile-image-wrap
              =image_for(group, '190x130#')
            %h4=group.name

.row.mt-2
  .span8
    =options_panel do
      =link_if_can("Edit profile", [:edit, @user])
      =link_if_can(@user == current_user ? "Delete my account" : "Delete user", [:toggle_is_deleted, @user],:method => :put, :confirm => "Are you sure?")