-title "My Neighbourhood" if current_user

-if current_user.try(:fully_registered?)
  =google_maps_javascript_include_tag
  
-content_for :head do
  :javascript
    $(document).ready(function() {
      NeedSelect.init();
      NeedsMap.center = #{current_user.try(:has_lat_lng?) ? "[#{current_user.lat}, #{current_user.lng}]" : "undefined"};
      NeedsMap.needs = #{@needs_json};
      NeedsMap.users = #{@users_json};
      NeedsMap.general_offers = #{@general_offers_json};
      #{'NeedsMap.init();' if current_user.try(:fully_registered?)}
      Needs.init();
    });

-if current_user.try(:fully_registered?)
  =render "neighbourhoods/validated_map"
-else
  .container
  %div{:id=>"home-intro-#{@slideshow.present? ? 3 : 2}"}
    .container
      .row
        .span12.home-intro-inner
          .home-intro-text
            %h2.home-welcome.home-intro-text
              -if current_user
                ="Hi #{current_user}, welcome to Neighbours Can Help"
              -else
                Welcome to Neighbours Can Help
            %h3.home-where.home-intro-text=neighbourhood_snippet_text(:mission_statement, "..where neighbours are helping each other")
          =link_to_slug('Find out more', :about, :class=>"home-cta home-cta-about #{@slideshow ? 'slideshow' : 'no-slideshow'}")
          -if current_user
            =link_to_slug "Get involved", :get_involved, :class=>"home-cta home-cta-get-involved #{@slideshow ? 'slideshow' : 'no-slideshow'}"
          -else
            =link_to "Join now", "#pre-register", :class=>"home-cta home-cta-get-involved #{@slideshow ? 'slideshow' : 'no-slideshow'}", :"data-toggle"=>"modal"
          =link_to "Join a group", groups_path, :class=>"home-cta home-cta-groups #{@slideshow ? 'slideshow' : 'no-slideshow'}"
          %span.badge#badge-groups-new{:class => "#{@slideshow ? 'slideshow' : 'no-slideshow'}"} NEW
            
          =render_slideshow_by_slug(:homepage_slideshow) if @slideshow
        / =link_to_slug('Find out more', :about, :class=>"illustration-link")

.container
  =render('home/cycled_columns')
