-if @general_offer.removed?
  .row
    .span12
      .alert.alert-error
        This offer has been removed from the site and is only visible to admins.

-if !@general_offer.user.validated?
  .row
    .span12
      .alert.alert-error
        ="#{first_name_or_your(@general_offer.user).capitalize} neighbours will be able to see this offer once #{first_name_or_your(@general_offer.user)} address has been validated."
.row.mt-2
  .span2
    =link_to (can?(:read, @general_offer.user) ? @general_offer.user : '#'), :class => "user-thumbnail-large pull-left" do
      =image_for_with_validation(@general_offer.user, "120x120#", :rel => 'tooltip', :title =>"Joined on #{@general_offer.user.created_at.strftime("%e %B %Y")}")
      -if @general_offer.user.validated?
        .validated-icon{ :rel => 'tooltip', :title =>"Address validated"}
      %p=@general_offer.user
  .span8
    .request-body.mb2
      %h1#offer-title
        %small I can offer help with
        %span=title @general_offer.title
        %p.location-smallprint
          %i.icon-map-marker
          -if logged_in_as?(@general_offer.user) || current_user.try(:validated?)
            ="#{@general_offer.user.street_name}, #{@general_offer.created_at.strftime("%e %B %Y")}"
          -else
            ="#{@general_offer.created_at.strftime("%e %B %Y")}"
            
      -if logged_in_as?(@general_offer.user) || current_user.try(:validated?)
        =simple_format(@general_offer.description)
      -else
        =@general_offer.category.description
      .mt1
        -if can?(:destroy, @general_offer)
          =link_to("Remove this offer", @general_offer, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger")
        -elsif @general_offer.user.validated?
          =link_to("Accept #{@general_offer.user}'s offer", accept_general_offer_path(@general_offer), :method => :post, :class => 'btn btn-primary')
.row
  .span12
    =options_panel do
      -if current_user
        =link_to("#inappropriate", :data => {:toggle => "modal"}) do
          %i.icon-warning-sign
          Report this page as inappropriate
        #inappropriate.modal.hide.fade
          =render("flags/modal_form", :flag => @general_offer.flags.build)