-if @general_offer.removed?
  .row
    .span12
      .alert.alert-error
        This offer has been removed from the site and is only visible to admins.

-if !@general_offer.user.validated?
  .row
    .span12
      .alert.alert-error
        -if @general_offer.user.is_organisation_admin?
          ="#{organisation.name}'s neighbours will be able to see this offer once #{first_name_or_your(@general_offer.user)} address has been validated."
        -else
          ="#{first_name_or_your(@general_offer.user).capitalize} neighbours will be able to see this offer once #{first_name_or_your(@general_offer.user)} address has been validated."
.row.mt-2
  .span2
    =link_to (can?(:read, @general_offer.user) ? @general_offer.user : '#'), :class => "user-thumbnail-large pull-left" do
      =image_for_with_validation(@general_offer.user, "120x120#", :rel => 'tooltip', :title =>"Joined on #{@general_offer.user.created_at.strftime("%e %B %Y")}")
      -if @general_offer.user.validated?
        .validated-icon{ :rel => 'tooltip', :title =>"Address validated"}
      %p=@general_offer.user
  .span8
    .request-body.mb2
      %h1#offer-title
        %small I can offer help with
        %span=title @general_offer.title
        %p.location-smallprint
          %i.icon-map-marker
          =[@general_offer.miles_from_s(current_user), @general_offer.created_at.strftime("%e %B %Y")].reject(&:blank?).join(', ')
            
      -if logged_in_as?(@general_offer.user) || current_user.try(:validated?)
        =simple_format(@general_offer.description)
      -else
        =@general_offer.category.description
      .mt1
        -if @chat && (current_user != @general_offer.user)
          %p.mb-3
            ="You can chat privately about #{@general_offer.user}'s offer by writing a comment below. If you decide you want to accept this offer later, click the 'Accept this offer' button."
          =link_to("Accept #{@general_offer.user}'s offer", accept_general_offer_path(@general_offer), :method => :post, :class => 'btn btn-primary')
        -else
          -if @general_offer.user.try(:validated?) && @general_offer.user != current_user
            -if !current_user
              .row
                If you want to accept this offer, then click 'Accept this offer' to accept and send a private message to
                ="#{@general_offer.user}. Alternatively, click 'Chat to #{@general_offer.user} to chat privately about this offer."
              .row.mt-2
                =link_to("Accept #{@general_offer.user}'s offer", sign_in_path(:next => general_offer_path(@general_offer)), :class => 'btn btn-primary')
                =link_to "Chat to #{@general_offer.user}", sign_in_path(:next => general_offer_path(@general_offer, :context => "chat")), :class => "btn btn-primary mb-2"
            -elsif current_user.validated?
              .row
                If you want to accept this offer, then click 'Accept this offer' to accept and send a private message to
                ="#{@general_offer.user}. Alternatively, click 'Chat to #{@general_offer.user} to chat privately about this offer."
              .row.mt-2
                =link_to("Accept #{@general_offer.user}'s offer", accept_general_offer_path(@general_offer), :method => :post, :class => 'btn btn-primary') unless current_user == @general_offer.user
                =link_to "Chat to #{@general_offer.user}", general_offer_path(@general_offer, :context => "chat"), :class => "btn btn-primary"
            -elsif current_user.pre_registration? || current_user.group_user?
              %p.bold
                You will be able to accept this offer once you are
                =link_to " fully registered.", new_registration_path
            -else
              %p.bold You will be able to accept this offer once you are validated.
          -if can?(:destroy, @general_offer)
            =link_to("Remove this offer", @general_offer, :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger")

    .row
      .span6
        %ul.unstyled.need-posts.mt-2
          -if can?(:create, Post) && @chat && @general_offer.user != current_user
            =render("posts/remote_form", :post => current_user.posts.build(:target => @general_offer, :context => 'chat'))
          =render(:partial => "general_offers/post", :collection => @general_offer.posts_viewable_by(current_user).order("created_at DESC"))
.row
  .span12
    =options_panel do
      -if current_user
        =link_to("#inappropriate", :data => {:toggle => "modal"}) do
          %i.icon-warning-sign
          Report this page as inappropriate
        #inappropriate.modal.hide.fade
          =render("flags/modal_form", :flag => @general_offer.flags.build)